.course{
    min-width: 250px;
    max-width: 250px;
    background-color: #eee;
    min-height: 230px;

}
.course img {
    width: 100%;
    border: #777 solid 1px;
}
.course span
{
    color:#777 ;    
}
.course p ,
.course span 
{
    /* padding-bottom: 1rem; */
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.course
{
    transition: 0.3s;
}
/* .star
{
    color: gold;
    font-size:5px;
} */